
.App-header {
	text-align: center;
  	height: 150px;
  	padding: 20px;
}

.App-intro {
 	font-size: large;
}

.tile {
	height: 150px;
	width: 900px;
	margin: 10px;
	margin-left: 230px; 
	background: palegreen;
	float: left;
	font-size: 20px;
	text-align: left;
}

.newProductButton {
	background: darkorange;
	color: white;
	border: none;
	font-size: 18px;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 230px;
	padding: 10px;
}

.input {
	border: 0px;
	background: none;
	outline: none;
	margin-top: 10px;
	width: 870px;
	font-size: 18px;
	margin-left: 15px;
}

.input:focus {
	border: solid 1px;
	border-color: darkorange;
}

textarea {
	resize: none;
	height: 70px;
	font-size: 12px;
	width: 900px;
}

.deleteButton {
	visibility: visible;
	float: right;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
	color: white; 
}

.tile:hover .deleteButton {
	color: darkorange;
}

.voteButton {
	position: relative;
	left: 140px;
	top: -50px;
    background-color: darkblue;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.voteButton:hover {
    background-color: darkorange;
    color: white;
}

h4, p {
	margin-left: 10px;
}

